
:root{
    --col1: rgb(5, 212, 212);
    --col2: rgb(170, 250, 250);
    --col3: rgba(36, 33, 33, 0.87);
    --col4: rgb(255, 255, 255);
}

form, .formDiv, #content, .detail{
    display: flex;
    flex-wrap: wrap;
}

#content{
    justify-content: space-evenly;
}

.formDiv{
    flex-direction: column;
}

body{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--col3);
    background-color: var(--col2);
    font-size: 2rem;
}

button{
    padding: 5px;
    font-size: 1rem;
    color: var(--col3);
    border-style: none;
    border-radius: 10px;
    background-color: var(--col1);
    width: max-content;
}

form{
    padding: 10px;
    flex-direction: column;
    max-width: 500px;
    border: 1px solid var(--col1);
    border-radius: 10px;
    margin: 10px;
}

label{
    font-size: 2rem;
}

input{
    padding: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--col1);
}

.details{
    padding: 10px;
    border: 1px solid var(--col1);
    border-radius: 10px;
}

.detail{
    align-items: baseline;
}

.info{
    margin: 5px;
    font-size: 3rem;
}
